html{
    background-color: rgb(228, 36, 68);
}



h1{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}


div{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}